<!DOCTYPE html>
<html>
<% include header.ejs%>
<body onload="time()" >

	<div class="table" align="center" >
			<p id="type"><input type="date" id="myDate" >
			<button id="done" >Xem lịch</button>
			</p>	
	</div>		
		
			
</body>
		<script type="text/javascript" src="/js/calendar.js"></script>
				
		<script>
		var now=new Date();
		var temp1=now.toString().split(" ");
		//ngay thang nam hien tai
		var Day=temp1[2];
		var Month=mnths[temp1[1]];
		var Year=temp1[3];
	
		//set input time = ngay hien tai
		$('#myDate').val(convert(new Date().toString()));	
		var mnths = { 
						Jan:"01", Feb:"02", Mar:"03", Apr:"04", May:"05", Jun:"06",
						Jul:"07", Aug:"08", Sep:"09", Oct:"10", Nov:"11", Dec:"12"
		}
		
		if('<%=data.month%>'!=''&&'<%=data.year%>'!='')
		{	
			createTable('<%=data.month%>','<%=data.year%>');
			$('#tieude').html('LỊCH ÂM & DƯƠNG <font color="red">'+'<%=data.month%>'+'/'+'<%=data.year%>'+'</font>');
		}
		else {	// in lich hien tai
			createTable(Month,Year);
			$('#tieude').html('LỊCH ÂM & DƯƠNG <font color="red">'+Month+'/'+Year+'</font>');
		}
		
		
		
		
		var tem,tem1,url;
		$('#next').click(function ()
		{	if('<%=data.month%>'!='')
			{
			 tem=parseInt('<%=data.month%>')+1;
			 tem1='<%=data.year%>';
			}
			else {
			 tem= parseInt(Month)+1;
			 tem1=Year;
			}
			if(tem==13){tem=1;
				tem1++;
			}
			 url='/'+tem+'/'+tem1;
			window.location.href=url;
		});
		
		$('#back').click(function ()
		{	if('<%=data.month%>'!='')
			{
			 tem=parseInt('<%=data.month%>')-1;
			 tem1='<%=data.year%>';
			}
			else {
			 tem= parseInt(Month)-1;
			 tem1=Year;
			}
			if(tem==0){
				tem=12;
				tem1--;
			}
			 url='/'+tem+'/'+tem1;
			window.location.href=url;
		});
		</script>
</html>